:root {
    --main-background: #202020;
    --main-grey: #929292;
    --main-darkgrey: #5b5959;
    --main-white: #fff;
    --main-darkwhite: rgb(195, 195, 195);
    --main-orange: rgb(255, 166, 0);
    --main-red: rgb(218, 33, 33);
    --main-red2: #ba0101;
    --main-green: rgb(5, 139, 0);
    --main-blue: #183afa;
}

@font-face {
    font-family: 'Hey comic';
    src: url(../fonts/Hey\ Comic.ttf);
}

/* CAROUSEL */

#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.carousel-item:nth-child(1) {
    background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.3)), url(../img/b1.jpg) center center/cover no-repeat;
    filter: saturate(140%);
}

.carousel-item:nth-child(2) {
    background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, .3)), url(../img/b2.jpg) center center/cover no-repeat;
    filter: saturate(120%);
}

.carousel-item:nth-child(3) {
    background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, .3)), url(../img/b3.jpg) center center/cover no-repeat;
    filter: saturate(120%);
}

/* NAVBAR */

.navbar .nav-link {
    color: var(--main-white);
}

.navbar {
    z-index: 1000;
    background: var(--main-background);
    padding: .3rem 0 .3rem 0;
}

.navbrand {
    font-family: 'Hey comic', var(--mdb-font-roboto);
    font-size: 1.6rem;
    font-weight: 200;
}

header ul li {
    font-size: 1.3rem;
    letter-spacing: 1.4px;
    font-weight: 500;
}

header ul li:hover {
    background: var(--main-white);
    border-radius: 5px;
}

.asdf:hover {
    color: var(--main-background);
}

.fa-bars {
    color: var(--main-white);
}

#total-cart {
    background-color: var(--main-red);
    margin: 5px;
    padding: 5px;
    border-radius: 100%;
}

/* HEADER */

header {
    background: var(--main-background);
}

/* TEXT MAIN */

.text-main {
    position: absolute;
    top: 50%;
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    z-index: 100;
}

.title-span {
    color: var(--main-orange);
    font-size: 5rem;
    font-weight: bolder;
    font-family: 'Hey comic';
}

.randomMessage {
    padding: .5rem 0 0 .5rem;
    font-size: 1.1rem;
    font-style: italic;
}

/* BTN */

.btn:hover {
    background: var(--main-white);
    color: var(--main-background);
}

.btn-2:hover {
    background: var(--main-background);
    color: var(--main-white);
}

.btn-2 {
    margin-bottom: 2rem;
}

.btn-3:hover {
    background: var(--main-red);
    color: var(--main-white);
}

.btn-5:hover {
    background: var(--main-blue);
    color: var(--main-white);
}

.btn-info:hover {
    background-color: rgb(75, 75, 247);
    color: white;
}

.btn-danger:hover {
    background-color: rgb(208, 0, 0);
    color: white;
}

.btn-success:hover {
    background-color: rgb(1, 102, 1);
    color: white;
}

/* FOOTER */

footer {
    background: var(--main-background);
    color: var(--main-white);
}

footer .container {
    padding: 1rem 0 0 0;
}

footer a {
    color: var(--main-orange);
}

footer a:hover {
    color: #eeb35b
}

footer ul li a {
    color: var(--main-grey);
    cursor: pointer;
    margin: 0 1.5rem 0 1.5rem;

}

footer ul li a:hover {
    color: var(--main-white)
}

.navbar-nav {
    justify-content: center;
}


/* COMICS SECTION */

.main-container {
    padding: 0;
    min-height: 100vh   ;
}

.form-select {
    width: 10rem;
    margin-bottom: 1rem;
}

.form-select:focus {
    border-color: var(--main-background);
}

.comics-title {
    padding-top: 8rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
}

h5 {
    font-size: .95rem;
    margin: 1.4rem 0 .6rem 0;
}

.comic {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all .1s ease-in-out;
}

.comic:hover {
    transform: translateY(-10px);
}

/* MODALS */

.modal-text {
    font-size: .9rem;
    line-height: 1.4;
    margin-top: .9rem;
    margin-bottom: 0;
    color: #202020;
}

.modal-title {
    margin-top: 0;
}

/* CONTACT SECTION */

.main-contact {
    height: 90vh;
    color: var(--main-background)
}

.main-contact p {
    color: var(--main-darkgrey);
    margin-left: 1.3rem;
}

.main-contact h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.main-contact h4 {
    font-family: sans-serif;
    ;
}

.main-contact i {
    margin-right: .5rem;
}

.footer-newsletter {
    height: 10vh;
    padding: 15px 0;
    background-color: var(--main-red2);
    color: var(--main-white);
    align-items: center;
    display: flex;
}

.footer-newsletter h4,
.footer-newsletter p {
    margin-bottom: 0;
    padding-left: 1rem;
}

.footer-newsletter p {
    color: var(--main-darkwhite);
}

.space {
    height: 220px;
}

/* border inputs*/

.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: .125rem solid var(--main-background);
    border-bottom: .125rem solid var(--main-background);
    border-left: .125rem solid var(--main-background);
}

.form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: .125rem solid;
    border-color: var(--main-background);
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-color: currentcolor currentcolor currentcolor var(--main-background);
    border-bottom: .125rem solid var(--main-background);
    border-right: .125rem solid var(--main-background);
    border-top: .125rem solid var(--main-background);
}

.form-outline .form-control:focus~.form-label {
    color: var(--main-background);
}


/* checkbox color */
.form-check-input:focus {
    border-color: var(--main-darkgrey) !important;
    outline: 0;
}

.form-check-input:checked {
    background-color: var(--main-background) !important;
    border-color: var(--main-background) !important;
}

/* CART SECTION */

.main-cart {
    min-height: 100vh;
}

.cart-title {
    padding-top: 8rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
}
/* media querys */

@media (max-width: 992px) {
    header ul li {
        padding-left: 1rem;
    }

    .title-span {
        font-size: 4rem;
    }

    .title {
        font-size: 1.7rem;
    }

    footer div {
        font-size: .9rem;
    }

    .space {
        height: 85px;
    }

    .main-contact {
        height: auto;
    }

    .footer-newsletter {
        height: 130px;
    }

    .footer-newsletter i {
        display: none;
    }

    .footer-newsletter h4,
    .footer-newsletter p,
    .row-center {
        padding-left: 0;
        text-align: center;
        justify-content: center;
    }

    .main-contact {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .footer-newsletter p {
        margin: .3rem 0 .3rem
    }

}

@media (max-width: 575px) {
    .container {
        padding: 0 20px 0 20px;
    }
    .table {
        font-size: 13px;
    }
    .comics-title,
    .cart-title {
        padding-top: 6.8rem;
        padding-bottom: 3rem;
    }
}